openapi: 3.0.3
info:
  title: MyBartenderAI API
  version: 1.0.0
  description: MyBartenderAI Backend API for cocktail recommendations, inventory management, and CocktailDB snapshot distribution
servers:
  - url: https://apim-mba-001.azure-api.net
    description: Azure API Management (Production)
  - url: https://func-mba-fresh.azurewebsites.net/api
    description: Azure Function App (Direct - for testing only)
  - url: http://localhost:7073
    description: Local development

paths:
  /v1/snapshots/latest:
    get:
      summary: Get latest SQLite snapshot for on-device catalog
      operationId: getLatestSnapshot
      tags: [catalog]
      responses:
        '200':
          description: Snapshot metadata with signed URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotInfo'
        '503':
          description: Snapshot not available
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'

  /v1/changes:
    get:
      summary: Incremental changes since a snapshot
      operationId: getChangesSince
      tags: [catalog]
      parameters:
        - in: query
          name: since
          required: true
          schema: 
            type: string
            example: "20251008.1"
      responses:
        '200':
          description: NDJSON stream of changes (one JSON object per line)
          content:
            application/x-ndjson:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'

  /v1/recommend:
    post:
      summary: Recommend cocktails from inventory and taste profile
      operationId: recommendCocktails
      tags: [recommendations]
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: X-Client-Request-Id
          description: Optional client-supplied correlation id
          required: false
          schema: 
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [inventory]
              additionalProperties: false
              properties:
                inventory: 
                  $ref: '#/components/schemas/SimpleInventory'
                tasteProfile:
                  type: object
                  additionalProperties: false
                  properties:
                    preferredFlavors: 
                      type: array
                      items: 
                        type: string
                    dislikedFlavors: 
                      type: array
                      items: 
                        type: string
                    abvRange: 
                      type: string
                      enum: [low, medium, high]
      responses:
        '200':
          description: Cocktail recommendations
          headers:
            X-Cache-Hit:
              description: Indicates if upstream prompt cache was hit (telemetry; no PII)
              schema: 
                type: string
                enum: ['true', 'false']
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Recommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

  /v1/admin/sync:
    post:
      summary: Manually trigger CocktailDB sync (admin only)
      operationId: triggerCocktailDbSync
      tags: [admin]
      security: 
        - function_key: []
      responses:
        '202':
          description: Sync started
        '403':
          description: Forbidden
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    function_key:
      type: apiKey
      in: header
      name: x-functions-key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests
      headers:
        Retry-After:
          description: Seconds until the request may be retried
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    SnapshotInfo:
      type: object
      required: [schemaVersion, snapshotVersion, sizeBytes, sha256, signedUrl, createdAtUtc]
      properties:
        schemaVersion: 
          type: string
          example: "1"
        snapshotVersion: 
          type: string
          example: "20251008.1"
        sizeBytes: 
          type: integer
          example: 104857600
        sha256: 
          type: string
          example: "b3f50c89e4..."
        signedUrl: 
          type: string
          description: "Short-lived SAS URL to the snapshot .db.zst file"
        createdAtUtc: 
          type: string
          format: date-time
        counts:
          type: object
          properties:
            drinks: 
              type: integer
            ingredients: 
              type: integer
            measures: 
              type: integer
            categories: 
              type: integer
            glasses: 
              type: integer

    SimpleInventory:
      type: object
      additionalProperties: false
      properties:
        spirits:
          type: array
          items:
            type: string
        mixers:
          type: array
          items:
            type: string

    Inventory:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InventoryItem'

    InventoryItem:
      type: object
      required: [id, name, category]
      properties:
        id:
          type: string
          description: Unique identifier for the inventory item
        name:
          type: string
          description: Display name of the ingredient
          example: "Vodka"
        category:
          type: string
          description: Category of ingredient
          example: "spirit"
        brand:
          type: string
          description: Brand name (optional)
          example: "Grey Goose"
        quantity:
          type: number
          description: Quantity available (optional)
          example: 750
        unit:
          type: string
          description: Unit of measurement
          example: "ml"

    Recommendation:
      type: object
      required: [id, name, description, difficulty, estimatedTime]
      properties:
        id:
          type: string
          description: Unique identifier for the cocktail
        name:
          type: string
          description: Name of the cocktail
          example: "Moscow Mule"
        description:
          type: string
          description: Brief description of the cocktail
        ingredients:
          type: array
          items:
            $ref: '#/components/schemas/RecipeIngredient'
        instructions:
          type: array
          items:
            type: string
          description: Step-by-step preparation instructions
        difficulty:
          type: string
          enum: [easy, medium, hard]
          description: Difficulty level to prepare
        estimatedTime:
          type: integer
          description: Estimated preparation time in minutes
        abv:
          type: number
          description: Alcohol by volume percentage
          example: 12.5
        garnish:
          type: string
          description: Garnish instructions
          example: "Lime wedge"
        glassType:
          type: string
          description: Recommended glass type
          example: "highball"
        confidence:
          type: number
          minimum: 0
          maximum: 1
          description: AI confidence score for this recommendation

    RecipeIngredient:
      type: object
      required: [name, amount]
      properties:
        name:
          type: string
          description: Ingredient name
          example: "Vodka"
        amount:
          type: string
          description: Amount needed (with units)
          example: "2 oz"
        isOptional:
          type: boolean
          description: Whether this ingredient is optional
          default: false

    Error:
      type: object
      required: [code, message, traceId]
      additionalProperties: false
      properties:
        code:
          type: string
          description: Error code identifier
        message:
          type: string
          description: Human-readable error message
        traceId:
          type: string
          description: Trace identifier for correlating logs
        details:
          type: object
          description: Additional error details
          additionalProperties: true
